
a.nav{text-decoration:none; color:white; background-color:#666666;font-size:25px;font-family:Tahoma;}
#footer {background:#666666;text-align: right;color:white;position:fixed; bottom:0;width:100%;height:60px; font-family:Tahoma; font-size:20px;}
body {margin: 0; padding: 0; height:100%;background:url('/images/BCG.png');background-repeat: repeat-y;}
.div {margin: 0; padding: 0;}
#container{position:relative; min-height:100%;height:auto !important;height: 100%;}
p{color:white;}
body {background-image: url(images/BCG.png); background-repeat: repeat;}
table#main {width:auto; border-width:2px;border-collapse: seperate; border-spacing: 10px 0px; aling:right;table-layout: auto;}
table#main tr { border: none; }
#header {background:#666666; padding:10px;}
#body {padding:10px; padding-bottom:60px;}
#navimg {width:35px; hight:35px}
div > p { 
    font-family:Tahoma;	
}
#TMI {
    float:left;
	padding:10px; 
	margin:10px;
	width:320px;
	height:213px;
}
#WPP {
    color:white;
}
#contact {
    text-align:center;
}
.content {
    display: table;
	margin: 10px 10px;
}
.cell {
    display: table-cell;
    border: 1px solid #82fffe;
	border-radius: 5px;
    padding: 5px 5px;
	background-color:rgba(137, 137, 137, 0.2);
	
}
.gutter {
    display: table-cell;
    width: 30px;
}
input[type=text] {padding:5px; border:2px solid #d0fffe; 
-webkit-border-radius: 5px;
border-radius: 5px;
}
input[type=text]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; background:#d0fffe; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }
#ci {
    width:30px;
	padding: 10px;
}
#pf {
    width:150px;
	float:left;
}
#downloadb {
	margin: 10px 0 0 0;
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
a.nav{text-decoration:none; color:white; background-color:#666666;font-size:100px;font-family:Tahoma;}
#footer {background:#666666;text-align: right;color:white;position:fixed; bottom:0;width:100%;height:150px; font-family:Tahoma; font-size:40px;}
body {margin: 0; padding: 0; height:100%;background:Images/BCG.png;background-repeat: repeat-y;}
.div {margin: 0; padding: 0;}
#container{position:relative; min-height:100%;height:auto !important;height: 100%;}
p{color:white;}
body {background-image: url(images/BCG.png); background-repeat: repeat;}
table#main {width:auto; border-width:2px;border-collapse: seperate; aling:right;table-layout: auto;}
table#main tr { border: none; }
#header {background:#666666; padding:0px;}
#body {padding:10px; padding-bottom:150px;}
#navimg {width:0px;}
div > p { 
    font-family:Tahoma;
	font-size:50px;
}
h2{
    font-size:50px;
}
p{
    font-size:25px;
}
#pf {
    width:0px;
	float:left;
}
#ci {
    width:90px;
	padding: 30px;
}
div > h3 {
    font-size:60px;
}
#downloadb {
    font-size:50px;
	margin: 10px;
}
#TMI {
    float:left;
	padding:0px; 
	margin:0px;
	width:0px;
	height:0px;
}
#contact {
    display:none;
}
}
@media only screen and (max-device-width: 850px) and (orientation: landscape) {
a.nav{text-decoration:none; color:white; background-color:#666666;font-size:40px;font-family:Tahoma;}
#footer {background:#666666;text-align: right;color:white;position:fixed; bottom:0;width:100%;height:50px; font-family:Tahoma; font-size:20px;}
body {margin: 0; padding: 0; height:100%;background:Images/BCG.png;background-repeat: repeat-y;}
.div {margin: 0; padding: 0;}
#container{position:relative; min-height:100%;height:auto !important;height: 100%;}
p{color:white;}
body {background-image: url(images/BCG.png); background-repeat: repeat;}
table#main {width:auto; border-width:2px;border-collapse: seperate; aling:right;table-layout: auto;}
table#main tr { border: none; }
#header {background:#666666; padding:0px;}
#body {padding:10px; padding-bottom:50px;}
#navimg {width:45px;hight:45px}
p{
    font-size:35px;
}
div > p { 
    font-family:Tahoma;
	font-size:25px;
}
#pf {
    width:200px;
	float:left;
}
#ci {
    width:50px;
	padding: 0 10px 0 0;
}
div > h3 {
    font-size:40px;
}
#downloadb {
    font-size:25px;
	margin: 10px;
}
#TMI {
    float:left;
	padding:0px; 
	margin:10px;
	width:320px;
}
#inputq {
    font-size:25px;
}
}

