body {
    background-image: url(website-background.jpg);
    height: 100%;
	padding-top: 70px;
	padding-bottom: 0px;
    margin-bottom: 150px;
    width: 100%;
}
.carousel-caption h3 {
	color: #2f2f2f;
}
.carousel-caption p {
	color: #2f2f2f;
}
#carousel_container{
    padding-left: 0px;
    padding-right: 0px;
}
.transparent_bg{
    background-color: rgba(234, 255, 255, 0.6);
}
.carousel-caption{
	padding-bottom: 20px;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.no_padding{
    padding-left: 10px;
    padding-right: 10px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.page-header{
    margin-top: 0;
}
.panel-body{
    padding-top: 0;
}
.featureImg{
    margin-bottom: 15px;
    width: 100%;
}

.updateImage{
    margin-bottom: 15px;
    width: 60%;
}

.bottom-margin{
    margin-bottom: 15px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
    left: 0;
    right: 0;
  /* Set the fixed height of the footer here */
  height: 150px;
    margin-top: 15px;
  
}


.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
    left: 0;
    right: 0;
    width: inherit;
    min-height: 150px;
}
code {
  font-size: 80%;
}

textarea {
   resize: none;
}
#bottom_footer{
    background-color: #0d0d0d;
    height: 60px;
    bottom: 0;
    width: auto;
}
#top_footer{
    height: auto;
    min-height: 90px;
    background-color: #141414;
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
}
.footer_bottom > .col-xs-3{
    padding-top: 15px;
}


