
a.nav{text-decoration:none; color:white; background-color:#666666;font-size:25px;font-family:Tahoma;}
#footer {background:#666666;text-align: right;color:white;position:fixed; bottom:0;width:100%;height:60px; font-family:Tahoma;}
body {margin: 0; padding: 0; height:100%;background:Images/BCG.png;background-repeat: repeat-y;}
.div {margin: 0; padding: 0;}
#container{position:relative; min-height:100%;height:auto !important;height: 100%;}
#header {background:#666666; padding:10px;}
#body {padding:10px; padding-bottom:60px;}
#posts {position: absolute; top: 10px; left: 25px; }